.page {
  height: 100%;
  width: 100%;
  background: url(../../assets/field.png) no-repeat;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 0.25rem solid black;
  margin: auto;
  display: flex;

  .left, .right {
    height: 100%;
    width: 10%;
    display: flex;
    // position: fixed;

    .options {
      // position: fixed;
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      margin: auto;
      // width: 22%;

      img {
        cursor: pointer;
        height: 100%;
        width: 100px;
        margin: auto;
        border: 1px solid;
        background-color: white;

        &:hover {
          border: 2px solid red;
        }
      }
    }
  }

  .field {
    display: flex;
    width: 80%;
    .right.selection {
      transform: rotateY(180deg);
    }
    .selection {
      display: flex;
      flex-direction: column;
      width: 50%;
      // position: fixed;
      img {
        display: flex;
        margin: auto;
        height: 60%;
        // width: 100%;
      }
    }
  }

}
